THREAD_LIMIT=10
REDASH_KEY=Key EsMfKqjqBZ7LGJzaHjopO28TdtpuzrOs63DGAjYI

EMAIL_FROM=hawkbot.bukalapak@gmail.com
SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_DOMAIN=gmail.com
SMTP_PASSWORD=Bukanbot2018

TOKEN_TELEGRAM_HAWKBOT = 678840717:AAG_XtwESlpddFA_0eOCwbQXl5bkWMfQuV8
TELEGRAM_GROUP1 = -303817542

MYSQL_USERNAME_DEV=root
MYSQL_PASSWORD_DEV=
MYSQL_PORT_DEV=3306
MYSQL_HOST_DEV=127.0.0.1
MYSQL_POOL_DEV=20
MYSQL_TIMEOUT_DEV=5000

MYSQL_USERNAME_PROD=root
MYSQL_PASSWORD_PROD=
MYSQL_PORT_PROD=3306
MYSQL_HOST_PROD=127.0.0.1
MYSQL_POOL_PROD=20
MYSQL_TIMEOUT_PROD=5000

MYSQL_USERNAME_TEST=root
MYSQL_PASSWORD_TEST=
MYSQL_PORT_TEST=3306
MYSQL_HOST_TEST=127.0.0.1
MYSQL_POOL_TEST=20
MYSQL_TIMEOUT_TEST=5000
